{% load static %}

<div class="row question-box">
    <div class="col-3">
        {% if question.user.avatar.url %}
            <img src="{{ answer.user.avatar.url }}" class="question-img rounded">
        {% else %}
            <img src="/media/HUI.png" class="question-img rounded">
        {% endif %}
        {% include 'inc/vote_button.html' %}
        <form class="like-counter">
            {% if answer.is_correct %}
            <input checked="checked" type="checkbox" class="checkinput" data-id="{{ answer.id }}">
            <label class="form-check-label" data-for="{{ answer.id }}">Correct!</label>
            {% elif request.user.profile.id == question.user.id %}
            <input type="checkbox" class="checkinput" data-id="{{ answer.id }}">
            <label class="form-check-label" data-for="{{ answer.id }}">Correct!</label>
            {% endif %}

        </form>
    </div>
    <div class="col-9">
        <div class="question-text">{{ answer.text }}</div>
    </div>
</div>
