{% load static %}

<div class="row question-box">
    <div class="col-3">
        {% if question.user.avatar.url %}
            <img src="{{ answer.user.avatar.url }}" class="question-img rounded">
        {% else %}
            <img src="/media/HUI.png" class="question-img rounded">
        {% endif %}
        {% include 'inc/vote_button.html' %}
        <form class="like-counter">  
            <input type="checkbox" class="form-check-input" id="isCorrect{{ answer.id }}">
            <label class="form-check-label" for="isCorrect{{ answer.id }}">Correct!</label>
        </form>
    </div>
    <div class="col-9">
        <div class="question-text">{{ answer.text }}</div>
    </div>
</div>
