{% load static %}

<div class="like-counter btn-group-toggle" data-toggle="buttons">
	{% if not answer %}
	<label type="button" class="btn btn-outline-primary w-100 like" data-id="{{ question.id }}" data-essence="question" >
		{% else %}
		<label type="button" class="btn btn-outline-primary w-100 like" data-id="{{ answer.id }}" data-essence="answer" >
		{% endif %}
		<input type="radio" name="voting" id="upvote">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-up"
													fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd"
		 d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z">
			</path>
		</svg>
	</label>
		{% if answer %}
		<span class="like-count" data-id="{{ answer.id }}" data-count="{{ answer.like_count }}" >{{ answer.like_count }}</span>
		{% else %}
		<span class="like-count" data-id="{{ question.id }}" data-count="{{ question.like_count }}" >{{ question.like_count }}</span>
		{% endif %}
			{% if not answer %}
				<label type="button" class="btn btn-outline-primary w-100 dislike" data-id="{{ question.id }}" data-essence="question">
			{% else %}
					<label type="button" class="btn btn-outline-primary w-100 dislike" data-id="{{ answer.id }}" data-essence="answer">
				{% endif %}
		<input type="radio" name="voting" id="downvote">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-down"
													fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd"
		 d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z">
			</path>
		</svg>
	</label>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</div>
